.middle-side {
  border-left: 1px solid #e9ecef;
  border-right: 1px solid #e9ecef;
  width: 280px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  .folder-name {
    p {
      align-items: center;
      justify-content: center;
      display: flex;
      height: 68px;
      font-weight: 600;
      font-size: 25px;
      text-align: center;
    }
  }
  .add-note {
    display: flex;
    background-color: #f6f6f6;
    flex-direction: row;
    align-items: center;
    padding: 14px 20px;
    border-radius: 10px;
    color: black;
    &:hover {
      background-color: #e7f5ff;
    }
    svg {
      width: 24px;
      margin-right: 20px;
    }
  }

  .notes-grid-wrapper.large-screen {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .note-wrapper {
    background-color: #f6f6f6;

    .category {
      background-color: rgb(235, 235, 235);
    }
    
    &:hover {
      background-color: #e7f5ff;
      .category {
        background-color: #d4ecff;
      }
    }
  }

  .active,
  .active:hover {
    background-color: #cdeaff;
  }
}

.notes-grid-wrapper {
  display: flex;
  .note-wrapper {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 14px 16px;
    row-gap: 6px;
    .title {
      font-weight: 600;
      font-size: 16px;
    }
    .description {
      color: rgb(70, 70, 70);
      font-size: 14px;
      max-height: 51px;
      overflow: hidden;
    }
    .note-bottom-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-top: 5px;
      font-size: 11px;
      color: rgb(80, 80, 80);
      .category {
        padding: 2px 5px;
        border-radius: 4px;
      }
    }
  }
}

.middle-side-ss {
  background: rgb(205, 234, 255);
  background: linear-gradient(
    180deg,
    rgba(205, 234, 255, 1) 0%,
    rgba(235, 247, 255, 1) 100%
  );
  background-attachment: fixed;
  min-height: 100%;
  header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    background: rgb(205, 234, 255);
    align-items: center;
    padding: 12px 20px;
    .folder-name {
      font-size: 20px;
      font-weight: 600;
    }
    .search-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .notes-grid-wrapper.small-screen {
    display: flex;
    column-gap: 10px;
    padding: 15px;
    .note-wrapper {
      background-color: white;
      margin-bottom: 10px;
    }
    .category {
      background-color: #f4f4f4;
    }
  }
  .add-note-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(4, 150, 255);
    color: white;
    padding: 14px;
    border-radius: 50%;
  }
}
