.single-note-wrapper-ss {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e9ecef;
    align-items: center;
    padding: 8px 15px;
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 1;
    .icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      border-radius: 50%;
      background-color: white;
      transition: all 200ms ease;
      &:active {
        background-color: rgb(241, 241, 241);
        svg {
          transform: scale(1.1);
        }
      }
    }
    .right-side {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 15px;
      .delete > svg {
        width: 26px;
        height: 26px;
        stroke-width: 10;
        stroke: black;
      }
    }
  }

  .note-data-wrapper {
    padding: 8px 15px;
    div {
      height: fit-content;
      width: 100%;
    }
    input {
      all: unset;
      width: 100%;
      &::placeholder {
        opacity: 1;
        color: #999;
      }
    }
    .title-wrapper {
      margin-bottom: 5px;
      input {
        font-size: 18px;
        font-weight: 600;
      }
    }
    .category-wrapper {
      input {
        font-size: 14px;
      }
    }
  }

  .editor-wrapper {
    flex: 1;
    display: flex;
    align-items: stretch;
    .ProseMirror {
      padding: 8px 15px;
      width: 100%;
      p.is-editor-empty:first-child::before {
        color: #999;
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
      }

      a {
        color: #0496ff;
      }
    }
    .ProseMirror-focused {
      outline: none;
    }
  }
}

.menu-bar {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  .block-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      all: unset;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #dee2e6;
      cursor: pointer;

      &:hover {
        background-color: #f8f9fa;
      }

      &:active {
        svg {
          transition: 100ms ease-in-out;
          transform: translateY(1px);
        }
      }

      &[disabled] {
        cursor: auto;
        svg {
          opacity: 0.4;
        }
        &:hover {
          background-color: transparent;
        }
      }

      &:first-of-type {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &:last-of-type {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      + button {
        border-left-width: 0;
      }
    }

    button.is-active {
      background-color: #ebf7ff;
      color: #0496ff;
    }
  }
}

.menu-bar.ls {
  justify-content: flex-start;
  padding: 14px;
  padding-left: 40px;
  column-gap: 20px;
  button {
    padding: 4px;
  }
}

.menu-bar.ss {
  justify-content: space-between;
  button{
    padding: 10px;
  }
  svg {
    width: 25px;
    height: 25px;
  }
}
